<div class="wrap">
  <div class="main-card">
    <% @promocodes.each do |promocode| %>
      <div class="sub-card">
        <div class="img-box"><img src="<%= promocode.code_image %>"></div>
        <div class="inner">
          <p class="line-break-01"><%= promocode.code_title %>"></p>
          <span><em><%= number_to_currency(promocode.code_wacode_price) %></em>
          <% if promocode.code_spare_01.present? %>
            <% promo_price = 0 %>
            <% promo_price = (promocode.code_pct.to_f / 100) * promocode.code_wacode_price.to_f %>
            <% code_now = 0%>
            <% code_now = promocode.code_wacode_price - promo_price %>
            <%= number_to_currency(code_now) %>
            <strong><%= number_to_percentage(promocode.code_pct, precision: 0) %></strong>
          <% else %>
            <% hotdeal_pct = 0 %>
            <% hotdeal_pct =  (promocode.code_wacode_price - promocode.code_icode_price) / promocode.code_wacode_price * 100 %>
            <%= number_to_currency(promocode.code_icode_price) %> 
            <strong><%= number_to_percentage(hotdeal_pct, precision: 0) %></strong>
          <% end %>  

        </span>
        </div>
      </div>
    <% end %>

  </div>
</div>