<div class="sharing">
  <span id="facebook_ctn">
    <p>Available on Amazon NOW!!</p>
    <p class="was_price">Was: <%= number_to_currency(@promocode.code_wacode_price) %></p>

    <% if @promocode.code_spare_01.present? %>
      <% code_now = 0%>
      <% code_now = @promocode.code_wacode_price - promo_price %>
      <span class="is_price">Now: <%= number_to_currency(code_now) %> | (<%= number_to_percentage(@promocode.code_pct, precision: 0) %> off)</span>
      <p>You can save:<%= number_to_currency(promo_price) %> by promotion code</p> 
      <p>Visit our website and get the promotion code</p>
    <% else %>
      <span class="is_price">Now: <%= number_to_currency(@promocode.code_icode_price) %> | (<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</span>
      <p>You can save: <%= number_to_currency(discount_price) %></p> 
    <% end %>

    <p class="hashtag">#amazondeals #amazoncoupons #promocodes</p>
  </span>
</div>
<hr>
<div class="twitter-container">
  <div class="row">
    <div class="col-md-12">
       <span class="js-copytext"> 
        <div class="sharing">
          <span id="facebook_ctn">
            <p>Available on Amazon NOW!!</p>
            <p class="was_price">Was: <%= number_to_currency(@promocode.code_wacode_price) %></p>

            <% if @promocode.code_spare_01.present? %>
              <% code_now = 0%>
              <% code_now = @promocode.code_wacode_price - promo_price %>
              <span class="is_price">Now: <%= number_to_currency(code_now) %> | (<%= number_to_percentage(@promocode.code_pct, precision: 0) %> off)</span>
              <p>You can save:<%= number_to_currency(promo_price) %> by promotion code</p> 
              <p>Visit our website and get the promotion code</p>
              <p>http://hotdealful.com/promocodes/<%=(params[:id]) %></p>
            <% else %>
              <span class="is_price">Now: <%= number_to_currency(@promocode.code_icode_price) %> | (<%= number_to_percentage(hotdeal_pct, precision: 0) %> off)</span>
              <p>You can save: <%= number_to_currency(discount_price) %></p> 
              <p>http://hotdealful.com/promocodes/<%=(params[:id]) %></p>
            <% end %>

            <p class="hashtag">#amazondeals #amazoncoupons #promocodes</p>
          </span>
        </div>
      </span>
    </div>
 </div>
</div>