<div class="header">
  <%= render 'promocodes/header' %>
</div>


<div class="index-wrap">

  <div class="wrap">
    <h1>디플로이는 되었다. 이제 다시 시작하다!!!</h1>

    <% if current_user && current_user.admin %>
      <p>I am Admin!!</p>
      <%= link_to 'New Promocode', new_promocode_path %>
    <% end %>

    <% if current_user %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

    <div class="product-border">
      <% @promocodes.each do |promocode| %>
        <div class="card">
          <div class="image-box">
            <a href="/promocodes/<%= promocode.id %>"><img src="<%= promocode.code_image %>"></a>
          </div>
          <div class="inner">
            <p><%= link_to promocode.code_title, promocode %></p>

            <% if promocode.code_spare_01.present? %>
              <% promocode_price = 0 %>
              <% promocode_price =  promocode.code_wacode_price - (promocode.code_pct / 100) * promocode.code_wacode_price %>
              <span class="list_price"><%= number_to_currency(promocode.code_wacode_price) %></span>
              <span class="current_price"><%= number_to_currency(promocode_price) %></span>
            <% else %>
              <span class="list_price"><%= number_to_currency(promocode.code_wacode_price) %></span>
              <span class="current_price"><%= number_to_currency(promocode.code_icode_price) %></span>
            <% end %>
            
          </div>
          <div class="pct"><p><%= number_to_percentage(promocode.code_pct, precision: 0) %></p></div>
        </div>
      <% end %>

    </div>






  </div><!--./wrap-->
</div><!--./index-wrap->