<div class="top-box"></div>
<div class="index-wrap">

  <div class="wrap">

    <div class="visual">
      <p>Don't pay full price! Save your money!</p>
      <h1><a href="/" data-turbolinks="false">HOTDEAL-FUL</a>
        <% if current_user && current_user.admin %>
          <%= link_to 'New Promocode', new_promocode_path %>
        <% end %>
      </h1>
      <div class="search-index">
        <%= form_for "",url: promocodes_path, role: "search", method: :get do %>
          <%= text_field_tag :search, @search_term, placeholder: "Search today's hot deal..." %>
        <% end %> 
      </div>   
      <%= render 'categories/list' %>
    </div><!--./visual-->

    <div class="find-coupon-box">
      <%= render 'promocodes/find_coupon' %>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin clearfix" data-turbolinks="false">
        <p>I am Admin!!!!!</p>
        
        <%= link_to 'Categories', categories_path %>
        <a href="/bridge/marketing">Marketing</a>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div class="pick-hash">
      <a class=".hashtag-through" href="/promocodes/hashtag/50_percent_or_more">#50% Off or more</a>
      <a href="/promocodes/hashtag/under_10_dollars">#Under $10</a>
    </div>

    <div class="product-border clearfix">
      <% @promocodes.each do |promocode| %>
        <div class="card">
          <div class="image-box">
            <!-- <a href="/promocodes/<%= promocode.id %>" data-turbolinks="false"><img src="<%= promocode.code_image %>" alt="<%= promocode.code_title %>" title="<%= promocode.code_title %>"></a> -->
            <%= link_to image_tag(promocode.code_image), promocode %>
          </div>
          <div class="inner">
            <p class="line-break-01" data-turbolinks="false"><%= link_to promocode.code_title, promocode%></p>

            <% if promocode.code_spare_01.present? %>
              <% promocode_price = 0 %>
              <% promocode_price =  promocode.code_wacode_price - (promocode.code_pct / 100) * promocode.code_wacode_price %>
              <span class="list_price"><%= number_to_currency(promocode.code_wacode_price) %></span>
              <span class="current_price"><%= number_to_currency(promocode_price) %></span>
            <% else %>
              <span class="list_price"><%= number_to_currency(promocode.code_wacode_price) %></span>
              <span class="current_price"><%= number_to_currency(promocode.code_icode_price) %></span>
            <% end %>
            
          </div>
          <% if promocode.code_spare_01.present? %>
            <div class="pct"><p><%= number_to_percentage(promocode.code_pct, precision: 0) %> off</p></div>
          <% else %>
            <% hotdeal_pct = 0 %>
            <% hotdeal_pct =  (promocode.code_wacode_price - promocode.code_icode_price) / promocode.code_wacode_price * 100 %>
            <div class="pct"><p><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</p></div>
          <% end %>
          <% if current_user && current_user.admin %>
            <span class="view">view:<%= promocode.impressionist_count %></span>
            <span class="delete"><%= link_to 'Destroy', promocode, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </div>
      <% end %>

    </div>
    <%= raw pagy_nav(@pagy) %>


  </div><!--./wrap-->
  <%= render 'shared/footer' %>
</div><!--./index-wrap->


