<!-- <div class="header">
  <%= render 'promocodes/header' %>
</div> -->
<div class="top-box"></div>
<div class="index-wrap">

  <div class="wrap">

    <div class="visual">
      
      <p>Don't pay full price! Save your money!</p>
      <h1><a href="/" data-turbolinks="false">HOTDEAL-FUL</a>
        <% if current_user && current_user.admin %>
          <%= link_to 'New Promocode', new_promocode_path %> sshkey 문제 없겠지?
        <% end %>
      </h1>
      <div class="search-index">
        <%= form_for "",url: promocodes_path, role: "search", method: :get do %>
          <%= text_field_tag :search, @search_term, placeholder: "Search..." %>
        <% end %> 
      </div>   
      <%= render 'categories/list' %>
    </div>

    <% if current_user && current_user.admin %>
      <div class="index-amdin" data-turbolinks="false">
        <p>I am Admin!!!!!</p>
        
        <%= link_to 'Categories', categories_path %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <div class="product-border clearfix">
      <% @promocodes.each do |promocode| %>
        <div class="card">
          <div class="image-box">
            <a href="/promocodes/<%= promocode.id %>" data-turbolinks="false"><img src="<%= promocode.code_image %>" alt="<%= promocode.code_title %>" title="<%= promocode.code_title %>"></a>
          </div>
          <div class="inner">
            <p class="line-break-01" data-turbolinks="false"><%= link_to promocode.code_title, promocode%></p>

            <% if promocode.code_spare_01.present? %>
              <% promocode_price = 0 %>
              <% promocode_price =  promocode.code_wacode_price - (promocode.code_pct / 100) * promocode.code_wacode_price %>
              <span class="list_price"><%= number_to_currency(promocode.code_wacode_price) %></span>
              <span class="current_price"><%= number_to_currency(promocode_price) %></span>
            <% else %>
              <span class="list_price"><%= number_to_currency(promocode.code_wacode_price) %></span>
              <span class="current_price"><%= number_to_currency(promocode.code_icode_price) %></span>
            <% end %>
            
          </div>
          <% if promocode.code_spare_01.present? %>
            <div class="pct"><p><%= number_to_percentage(promocode.code_pct, precision: 0) %> off</p></div>
          <% else %>
            <% hotdeal_pct = 0 %>
            <% hotdeal_pct =  (promocode.code_wacode_price - promocode.code_icode_price) / promocode.code_wacode_price * 100 %>
            <div class="pct"><p><%= number_to_percentage(hotdeal_pct, precision: 0) %> off</p></div>
          <% end %>
        </div>
      <% end %>

    </div>
    <%= raw pagy_nav(@pagy) %>


  </div><!--./wrap-->
</div><!--./index-wrap->
