<p id="notice"><%= notice %></p>

<p>
  <strong>Code title:</strong>
  <%= @promocode.code_title %>
</p>

<p>
  <strong>Code hashtag:</strong>
  <%= @promocode.code_hashtag %>
</p>

<%= link_to 'Edit', edit_promocode_path(@promocode) %> |
<%= link_to 'Back', promocodes_path %>
