<div class="top-box"></div>
<div class="cat-wrap clearfix">
    
    <% @categories.each do |category| %>
      <div class="cat-box clearfix" data-turbolinks="false">
        <h1>+ More</h1>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for category..." title="Type in a name">
        <ul id="myUL" >
          <% if category.category_01.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_01 %>"><em>●</em><%= category.category_01 %></a></li>
          <% end %>
          <% if category.category_02.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_02 %>"><em>●</em><%= category.category_02 %></a></li>
          <% end %>
          <% if category.category_03.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_03 %>"><em>●</em><%= category.category_03 %></a></li>
          <% end %>
          <% if category.category_04.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_04 %>"><em>●</em><%= category.category_04 %></a></li>
          <% end %>
          <% if category.category_05.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_05 %>"><em>●</em><%= category.category_05 %></a></li>
          <% end %>
          <% if category.category_06.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_06 %>"><em>●</em><%= category.category_06 %></a></li>
          <% end %>
          <% if category.category_07.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_07 %>"><em>●</em><%= category.category_07 %></a></li>
          <% end %>
          <% if category.category_08.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_08 %>"><em>●</em><%= category.category_08 %></a></li>
          <% end %>
          <% if category.category_09.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_09 %>"><em>●</em><%= category.category_09 %></a></li>
          <% end %>
          <% if category.category_10.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_10 %>"><em>●</em><%= category.category_10 %></a></li>
          <% end %>
          <% if category.category_11.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_11 %>"><em>●</em><%= category.category_11 %></a></li>
          <% end %>
          <% if category.category_12.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_12 %>"><em>●</em><%= category.category_12 %></a></li>
          <% end %>
          <% if category.category_13.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_13 %>"><em>●</em><%= category.category_13 %></a></li>
          <% end %>
          <% if category.category_14.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_14 %>"><em>●</em><%= category.category_14 %></a></li>
          <% end %>
          <% if category.category_15.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_15 %>"><em>●</em><%= category.category_15 %></a></li>
          <% end %>
          <% if category.category_16.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_16 %>"><em>●</em><%= category.category_16 %></a></li>
          <% end %>
          <% if category.category_17.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_17 %>"><em>●</em><%= category.category_17 %></a></li>
          <% end %>
          <% if category.category_18.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_18 %>"><em>●</em><%= category.category_18 %></a></li>
          <% end %>
          <% if category.category_19.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_19 %>"><em>●</em><%= category.category_19 %></a></li>
          <% end %>
          <% if category.category_20.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_20 %>"><em>●</em><%= category.category_20 %></a></li>
          <% end %>
          <% if category.category_21.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_21 %>"><em>●</em><%= category.category_21 %></a></li>
          <% end %>
          <% if category.category_22.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_22 %>"><em>●</em><%= category.category_22 %></a></li>
          <% end %>
          <% if category.category_23.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_23 %>"><em>●</em><%= category.category_23 %></a></li>
          <% end %>
          <% if category.category_24.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_24 %>"><em>●</em><%= category.category_24 %></a></li>
          <% end %>
          <% if category.category_25.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_25 %>"><em>●</em><%= category.category_25 %></a></li>
          <% end %>
          <% if category.category_26.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_26 %>"><em>●</em><%= category.category_26 %></a></li>
          <% end %>
          <% if category.category_27.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_27 %>"><em>●</em><%= category.category_27 %></a></li>
          <% end %>
          <% if category.category_28.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_28 %>"><em>●</em><%= category.category_28 %></a></li>
          <% end %>
          <% if category.category_29.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_29 %>"><em>●</em><%= category.category_29 %></a></li>
          <% end %>
          <% if category.category_30.present? %>
            <li><a href="/promocodes/hashtag/<%= category.category_30 %>"><em>●</em><%= category.category_30 %></a></li>
          <% end %>
        </ul>
      </div>

      <% if current_user && current_user.admin %>
        <div class="admin">
          <%= link_to 'New Category', new_category_path %> |
          <%= link_to 'Show', category %> | 
          <%= link_to 'Edit', edit_category_path(category) %> |
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>
  
</div>

<div class="back_btn_mobile">
  <a href="/"><img class="back_btn_m" src="<%=asset_path 'back_btn.png' %>" alt="Go bact to home" /></a>
</div>

<script type="text/javascript">
  function myFunction() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }
</script>